body{
  font-family: 'Noto Sans', sans-serif; 
  background: linear-gradient(to top right, #6f43b1, #9e6ed4);
  height: 100vh;
}
  button{
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    background-color: #f44fd4;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif; 
    margin-top: 40%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 13px 45px rgba(0, 0, 0, .5);
    transition: all .4s ease;

  }
  button:hover{
    margin-top: calc(40% + 1px);
    box-shadow: 0 13px 35px rgba(0, 0, 0, .3);
  }

  h1{
    color: #fff;
    font-weight: 700;
  }
  p{
    color: #fff;
  }
  .author{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    
  }





  /* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0; 
outline-offset: 0; 
}